html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 7rem var(--sides-space) 0 var(--sides-space);
  margin: 0;
  background-color: var(--bg-color);
  font-size: 1rem;
  color: var(--text-color);
  font-family: 'Inter', 'Manrope', 'Work Sans', 'Roboto', 'Open Sans',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  letter-spacing: -0.01rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --sides-space: 3rem;
  --sides-space-small: 1rem;
  --text-width: 80%;
  --text-width-big: 85%;
  --bg-color: #fff;
  --text-color: #111;
  --main-color: #ecf1f5;
  --btn-bg-color: #111;
  --btn-hover-bg-color: #333;
  --btn-text-color: #fff;
}
