.header {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  background-color: var(--color-black);
  color: var(--color-white);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
}

/* logo */
.logo-text {
  font-size: 1.65rem;
  color: var(--color-white);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 800;
  letter-spacing: -0.06rem;
  margin: 0;
}

/* menu */
.nav-menu {
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-menu li {
  list-style: none;
  margin: 0;
}

.nav-link {
  color: var(--color-white);
  font-size: 0.95rem;
  font-weight: 800;
  text-decoration: none;
  margin-right: 1.8rem;
  cursor: pointer;
}
.nav-link:hover {
  color: var(--color-yellow);
}
