/* text */
.hero-title-text {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  width: var(--text-width);
}

.hero-desc-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: var(--text-width);
}

/* section-text */
.title-text {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  width: var(--text-width);
}

.desc-text {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: var(--text-width);
}
