/* hero */
.hero-title-text {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  width: var(--text-width);
}

.hero-desc-text {
  margin-bottom: 1rem;
  width: var(--text-width);
}

/* section */
.title-text {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 3.5rem;
}

.desc-text {
  margin-bottom: 1rem;
}

/* effects */
.effect-item h3 {
  font-size: 1.5rem;
}
