/* ======================== 基本設定 ======================== */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 7rem var(--sides-space) 0 var(--sides-space);
  margin: 0;
  background-color: var(--bg-color);
  font-size: 1rem;
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  letter-spacing: -0.01rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* root */
:root {
  --sides-space: 4rem;
  --sides-space-small: 1rem;
  --text-width: 65%;
  --text-width-big: 85%;
  --bg-color: #fff7f0;
  --text-color: #5c3a2e;
  --main-color: #e38b52;
  --btn-bg-color: #3b1d12;
  --btn-hover-bg-color: #5c3a2e;
  --btn-text-color: #fff7f0;
}

/* text */
h1,
h2 {
  font-weight: 500;
  margin: 0;
}

.hero-title-text {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  width: var(--text-width);
}

.hero-desc-text {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: var(--text-width);
}

.title-text {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  width: var(--text-width);
}

.desc-text {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: var(--text-width);
}

/* ======================== section-header ======================== */
.header {
  padding: 0 var(--sides-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  background-color: var(--bg-color);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
}

.logo-text {
  font-size: 1.6rem;
  margin: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li {
  list-style: none;
  margin: 0;
}

.nav-link {
  color: var(--text-color);
  font-size: 0.95rem;
  text-decoration: none;
  margin-right: 1.8rem;
}

/* btn */
.btn-header {
  background-color: var(--btn-bg-color);
  border: none;
  color: var(--btn-text-color);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: background 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.btn-header:hover {
  background-color: var(--btn-hover-bg-color);
}

.btn-primary {
  background-color: var(--btn-bg-color);
  border: none;
  color: var(--btn-text-color);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: background 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.btn-primary:hover {
  background-color: var(--btn-hover-bg-color);
}

/* ======================== section-hero ======================== */
/* container */
.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 3.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* btn */
.btn-primary {
  background-color: var(--btn-bg-color);
  border: none;
  color: var(--btn-text-color);
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: background 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.btn-primary:hover {
  background-color: var(--btn-hover-bg-color);
}

/* img */
.bgImg {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-top: 2rem;
}

/* ======================== section-effects ======================== */
.effects-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1.25rem;
  width: 100%;
  max-width: 75rem;
}

.effect-item {
  width: 30%;
  text-align: center;
}

.effect-item img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

/* ======================== section-service ======================== */
.bg-card {
  width: 100%;
  padding: 3.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 1rem;
}

.bg-primary {
  background-color: var(--main-color);
}

/* input, player */
.uniform-element {
  height: 3.125rem;
  line-height: 2.5rem;
}

.rounded-input,
.rounded-select,
#effectSelectExample {
  width: 100%;
  max-width: 31.25rem;
  padding: 0.313rem 1.25rem;
  margin: 0.5rem 0;
  background-color: #f0f3f4;
  font-size: 1rem;
  color: var(--text-color);
  border: 0.5px solid #76767e;
  border-radius: 2rem;
}

audio {
  background-color: #f0f0f0;
}

.column-layout {
  width: 100%;
  max-width: 31.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#audioExample {
  width: 100%;
  max-width: 31.25rem;
  border: 0.5px solid #76767e;
  border-radius: 2rem;
}

/* ======================== section-demo ======================== */
.carousel-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#albumDisplay {
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

/* btn-arrow */
.btn-arrow {
  width: 3rem;
  height: 3rem;
  background-color: #f8f8f8;
  border: none;
  border-radius: 50%;
  color: var(--text-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-arrow:hover {
  background-color: #e0e3e4;
}

/* ======================== section-data ======================== */
.bg-secondary {
  background-color: var(--main-color);
}

/* ======================== section-footer ======================== */
.footer {
  padding: 2rem 0;
  text-align: center;
}
.copyright {
  font-size: 0.8rem;
  color: var(--text-color);
  opacity: 0.7;
}

/* ======================== animation ======================== */
/* fade-in */
.fade-element {
  opacity: 0;
  transform: translateY(1.25rem);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-element.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ======================== responsive ======================== */
@media (max-width: 48rem) {
  /* 768px */
  body {
    padding: 6rem var(--sides-space-small) 0 var(--sides-space-small);
  }
  .header {
    padding: 0 var(--sides-space-small);
  }
  .hide-on-mobile {
    display: none;
  }
  .nav-link {
    margin: 0;
  }
  .title-text {
    font-size: 2rem;
  }
  .effect-item {
    width: 100%;
    text-align: center;
  }
  .uniform-element,
  .rounded-input,
  .rounded-select,
  #effectSelectExample,
  #audioExample {
    max-width: 90%;
  }
  #albumDisplay {
    width: 15.625rem;
    height: 15.625rem;
  }
  .btn-arrow {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
  .effects-container {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
}

@media (max-width: 30rem) {
  /* 480px */
  .hero-title-text {
    font-size: 2rem;
    width: var(--text-width-big);
  }

  .hero-desc-text,
  .title-text,
  .desc-text {
    width: var(--text-width-big);
  }

  .title-text {
    font-size: 1.8rem;
  }
  .btn-primary {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
